<style>
    .bg3 {
        background-color: rgba(255,255,255,0.95);
    }

    .size2 {
        width: 100%;
        height: 46px;
    }

    .m-text2 {
        font-family: Montserrat-Regular;
        font-size: 16px;
        color: #333333;
        text-transform: uppercase;
    }

    .flex-c-m {
   
        display: flex;
        justify-content: center;
     
        align-items: center;
    }

    .trans-0-4 {
  
        transition: all 0.4s;
    }

    a {
     
        line-height: 1.7;

        margin: 0px;

    }

    .checkalign {
        position: absolute;
        bottom: 11px;
        left: 142px;
        width: auto;
        padding: 10px;
    }

    .sliderarrow {
        font-size: 32px;
        color: #e2e2e2;
        position: absolute;
        z-index: 10;
        margin-top: 125px;
        width: 100%;
        left: 0;
        display: none;
    }
</style>
 
 
<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
            <!-- block1 -->
            <div class="block1 hov-img-zoom pos-relative m-b-30" ng-repeat="cat in searchcategories">
                <img src="{{GetcatBgImage(cat.categoryImage)}}" alt="IMG-BENNER">

                <div class="block1-wrapbtn w-size2">
                    <!-- Button -->
                    <a href="" ng-click="GoToProductsWithCategoryID(cat.id)" class=" flex-c-m size2 m-text2 bg3 hov1 trans-0-4 checkalign">
                        {{cat.categoryName}}
                    </a>
                </div>
            </div>

            <!-- block1 -->
            <div class="block1 hov-img-zoom pos-relative m-b-30" ng-repeat="cat in searchcategories">
                <img src="{{GetcatBgImage(cat.categoryImage)}}" alt="IMG-BENNER">

                <div class="block1-wrapbtn w-size2">
                    <!-- Button -->
                    <a href="" ng-click="GoToProductsWithCategoryID(cat.id)" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4 checkalign">
                        {{cat.categoryName}}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
            <!-- block1 -->
            <div class="block1 hov-img-zoom pos-relative m-b-30" ng-repeat="cat in searchcategories|filter:{categoryName:'WATCHES'}">
                <img src="{{GetcatBgImage(cat.categoryImage)}}" alt="IMG-BENNER">

                <div class="block1-wrapbtn w-size2">
                    <!-- Button -->
                    <a href="" ng-click="GoToProductsWithCategoryID(cat.id)" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4 checkalign">
                        {{cat.categoryName}}
                    </a>
                </div>
            </div>

            <!-- block1 -->
            <div class="block1 hov-img-zoom pos-relative m-b-30" ng-repeat="cat in searchcategories|filter:{categoryName:'FOOTWEAR'}">
                <img src="{{GetcatBgImage(cat.categoryImage)}}" alt="IMG-BENNER">

                <div class="block1-wrapbtn w-size2">
                    <!-- Button -->
                    <a href="" ng-click="GoToProductsWithCategoryID(cat.id)" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4 checkalign">
                        {{cat.categoryName}}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto" >
            <!-- block1 -->
            <div class="block1 hov-img-zoom pos-relative m-b-30" ng-repeat="cat in searchcategories|filter:{categoryName:'BAGS'}">
                <img src="{{GetcatBgImage(cat.categoryImage)}}" alt="IMG-BENNER">

                <div class="block1-wrapbtn w-size2">
                    <!-- Button -->
                    <a href="" ng-click="GoToProductsWithCategoryID(cat.id)" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4 checkalign">
                        {{cat.categoryName}}
                    </a>
                </div>
            </div>

        
        </div>
    </div>
</div>













<section class="section-content padding-y-sm bg" ng-show="pagedItems.length > 0">
    <div class="container">

        <header class="section-heading heading-line">
            <h4 class="title-section bg">Our Featured Picks</h4>
        </header>

        <div class="sliderarrow">
            <i class="fa fa-chevron-left"></i>
            <i style="float:right" class="fa fa-chevron-right"></i>
        </div>

        <div class="row no-gutters">
            <div class="owl-carousel owl-init products-slider">
                <div class="item-slide" ng-repeat="x in pagedItems">
                    <figure class="card card-product">
                        <span class="badge-new"> {{x[5]|currency:"₹ "}} </span>
                        <div class="img-wrap" style="cursor:pointer" ng-click="SetProduct(x)">
                            <img class="card-img-top" src="{{GetProductImage(x[13])}}" alt="{{x[9]}}">

                        </div>
                        <figcaption class="info-wrap text-center">
                            <h6 style="cursor:pointer" ng-click="SetProduct(x)" class="title text-truncate">{{x[9]}}</h6>
                            <div class="action-wrap">
                                <a ng-click="AddToCartGlobal(x[4],x,'products-slider-')" id="btn_{{x[4]}}" class="active btn btn-sm btn-primary pull-right Add"><i id="spinid_{{x[4]}}" class="fa fa-shopping-cart"></i> </a>
                                <div class="price-wrap h6">

                                </div> <!-- price-wrap.// -->
                            </div> <!-- action-wrap -->
                        </figcaption>
                    </figure>
                </div>

            </div>

        </div> <!-- row.// -->


        
    </div> <!-- container .//  -->
</section>


<section class="section-content padding-y-sm bg">
    <div class="container">

        <header class="section-heading heading-line">
            <h4 class="title-section bg">Top Rated Picks</h4>
        </header>
        <div class="sliderarrow">
            <i class="fa fa-chevron-left"></i>
            <i style="float:right" class="fa fa-chevron-right"></i>
        </div>

        <div class="row no-gutters">
            <div class="owl-carousel owl-init topRated-slider">


                <div class="item-slide" ng-repeat="x in TopRatedItems">
                    <figure class="card card-product">
                        <span class="badge-new"> {{x[5]|currency:"₹ "}} </span>
                        <div class="img-wrap" style="cursor:pointer" ng-click="SetProduct(x)">
                            <img class="card-img-top" src="{{GetProductImage(x[13])}}" alt="{{x[9]}}">

                        </div>
                        <figcaption class="info-wrap text-center">
                            <h6 style="cursor:pointer" ng-click="SetProduct(x)" class="title text-truncate">{{x[9]}}</h6>
                            <div class="action-wrap">
                                <a ng-click="AddToCartGlobal(x[4],x,'products-slider-')" id="btn_{{x[4]}}" class="active btn btn-sm btn-primary pull-right Add"><i id="spinid_{{x[4]}}" class="fa fa-shopping-cart"></i></a>

                                <div class="price-wrap h6">

                                </div> <!-- price-wrap.// -->
                            </div> <!-- action-wrap -->
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>


<section class="section-content padding-y-sm bg">
    <div class="container">

        <header class="section-heading heading-line">
            <h4 class="title-section bg">Most Saled Picks</h4>
        </header>

        <div class="sliderarrow">
            <i class="fa fa-chevron-left"></i>
            <i style="float:right" class="fa fa-chevron-right"></i>
        </div>
        <div class="row no-gutters">
            <div class="owl-carousel owl-init mostsaled-slider">
                <div class="item-slide" ng-repeat="x in MostSaledItems">
                    <figure class="card card-product">
                        <span class="badge-new"> {{x[5]|currency:"₹ "}} </span>
                        <div class="img-wrap" style="cursor:pointer" ng-click="SetProduct(x)">
                            <img class="card-img-top" src="{{GetProductImage(x[13])}}" alt="{{x[9]}}">
                        </div>
                        <figcaption class="info-wrap text-center">
                            <h6 style="cursor:pointer" ng-click="SetProduct(x)" class="title text-truncate">{{x[9]}}</h6>
                            <div class="action-wrap">
                                <a ng-click="AddToCartGlobal(x[4],x,'products-slider-')" id="btn_{{x[4]}}" ng-disabled="true" class="active btn btn-sm btn-primary pull-right Add"><i id="spinid_{{x[4]}}" class="fa fa-shopping-cart"></i></a>
                                <div class="price-wrap h6">

                                </div> <!-- price-wrap.// -->
                            </div> <!-- action-wrap -->
                        </figcaption>
                    </figure>
                </div>

            </div>

        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>


<section class="section-content padding-y-sm bg">
    <div class="container">

        <header class="section-heading heading-line">
            <h4 class="title-section bg">Our Suppliers</h4>
        </header>
        <div class="row no-gutters">
            <div class="owl-carousel owl-init brands-slider">
                <div class="item-slide" ng-repeat="seller in Suppliers" style="margin-left: 46px">
                    <figure class="card card-product" style="border-radius: 100%; background: #efefef; height: 260px; width: 260px; ">
                        <span class="badge-new"ng-if="seller.type!=null"> {{seller.type}} </span>
                        <div class="img-wrap">
                            <img style="width: 80px; height: 80px;margin-top: 38px" class="card-img-top" src="{{GetSupplierImage(seller.logo)}}" alt="{{x[9]}}">

                            <h6 style="font-weight: bold;" class="title text-truncate">{{seller.companyName}}</h6>
                            <p style="font-size:11px" class="text-muted">{{seller.email}}</p>
                            <p style="font-size:11px" class="text-muted">{{seller.address}}</p>
                        </div>



                    </figure>
                </div>

            </div>

        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>

