<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="../../css/smart_wizard.css" rel="stylesheet" /> 
    <link href="../../css/smart_wizard_theme_circles.css" rel="stylesheet" />
    <link href="../../css/smart_wizard_theme_arrows.css" rel="stylesheet" />

    <link href="../../css/smart_wizard_theme_dots.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!-- External toolbar sample -->
        <div class="row d-flex align-items-center p-3 my-3 text-white-50">
            <div class="col-12 col-lg-6 col-sm-12">
                <label>Theme:</label>
                <select id="theme_selector" class="custom-select col-lg-6 col-sm-12">
                    <option value="default">default</option>
                    <option value="arrows">arrows</option>
                    <option value="circles">circles</option>
                    <option value="dots">dots</option>
                </select>
            </div>
            <div class="col-12 col-lg-6 col-sm-12">
                <label>External Buttons:</label>
                <div class="btn-group col-lg-6 col-sm-12" role="group">
                    <button class="btn btn-secondary" id="prev-btn" type="button">Go Previous</button>
                    <button class="btn btn-secondary" id="next-btn" type="button">Go Next</button>
                    <button class="btn btn-danger" id="reset-btn" type="button">Reset Wizard</button>
                </div>
            </div>
        </div>
        <!-- SmartWizard html -->
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">Step 1<br /><small>This is step description</small></a></li>
                <li><a href="#step-2">Step 2<br /><small>This is step description</small></a></li>
                <li><a href="#step-3">Step 3<br /><small>This is step description</small></a></li>
                <li><a href="#step-4">Step 4<br /><small>This is step description</small></a></li>
            </ul>
            <div>
                <div id="step-1" class="">
                    <h3 class="border-bottom border-gray pb-2">Step 1 Content</h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div id="step-2" class="">
                    <h3 class="border-bottom border-gray pb-2">Step 2 Content</h3>
                    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </div>
                </div>
                <div id="step-3" class="">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div id="step-4" class="">
                    <h3 class="border-bottom border-gray pb-2">Step 4 Content</h3>
                    <div class="card">
                        <div class="card-header">My Details</div>
                        <div class="card-block p-0">
                            <table class="table">
                                <tbody>
                                    <tr> <th>Name:</th> <td>Tim Smith</td> </tr>
                                    <tr> <th>Email:</th> <td>example@example.com</td> </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // Step show event
            $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
                //alert("You are on step "+stepNumber+" now");
                if (stepPosition === 'first') {
                    $("#prev-btn").addClass('disabled');
                } else if (stepPosition === 'final') {
                    $("#next-btn").addClass('disabled');
                } else {
                    $("#prev-btn").removeClass('disabled');
                    $("#next-btn").removeClass('disabled');
                }
            });

            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Finish')
                                             .addClass('btn btn-info')
                                             .on('click', function () { alert('Finish Clicked'); });
            var btnCancel = $('<button></button>').text('Cancel')
                                             .addClass('btn btn-danger')
                                             .on('click', function () { $('#smartwizard').smartWizard("reset"); });


            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'default',
                transitionEffect: 'fade',
                showStepURLhash: true,
                toolbarSettings: {
                    toolbarPosition: 'both',
                    toolbarButtonPosition: 'end',
                    toolbarExtraButtons: [btnFinish, btnCancel]
                }
            });


            // External Button Events
            $("#reset-btn").on("click", function () {
                // Reset wizard
                $('#smartwizard').smartWizard("reset");
                return true;
            });

            $("#prev-btn").on("click", function () {
                // Navigate previous
                $('#smartwizard').smartWizard("prev");
                return true;
            });

            $("#next-btn").on("click", function () {
                // Navigate next
                $('#smartwizard').smartWizard("next");
                return true;
            });

            $("#theme_selector").on("change", function () {
                // Change theme
                $('#smartwizard').smartWizard("theme", $(this).val());
                return true;
            });

            // Set selected theme on page refresh
            $("#theme_selector").change();
        });
    </script>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-pills" style="align-items:center">
                    <li class="nav-item"><a class="nav-link" ng-class="{'active':CurrentTab==1}">Address</a></li>
                    <li class="nav-item"><a class="nav-link" ng-class="{'active':CurrentTab==2}">Order Review</a></li>
                    <li class="nav-item"><a class="nav-link" ng-class="{'active':CurrentTab==3}">Payment Method</a></li>
                </ul>
                <br />
            </div>
            <div class="col-lg-8">
                <div class="tab-content" ng-if="CurrentTab==1">
                    <div class="card">
                        <div id="address" class="active tab-block card-body">
                            <form name='form1' ng-submit="">
                                <!-- Invoice Address-->
                                <div class="block-header">
                                    <h6>Shipping address</h6>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="shipping_zip" class="form-label">PinCode<span class="star">*</span></label>
                                        <input id="shipping_zip" type="text" name="Pincode" placeholder="Pincode code" ng-change="getpindata(CustomerDetails.PinCode)" ng-model="CustomerDetails.PinCode" class="form-control col-md-3" data-ng-pattern="/^[0-9]+$/" required>

                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="shipping_street" class="form-label">Locality/Town<span class="star">*</span></label>
                                        <input id="shipping_street" type="text" name="Street" ng-model="CustomerDetails.Street" placeholder="Your street name" class="form-control col-md-6" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="shipping_city" class="form-label">City<span class="star">*</span></label>
                                        <input id="shipping_city" type="text" name="City" ng-model="CustomerDetails.City" placeholder="Your city" class="form-control col-md-12" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="shipping_state" class="form-label">State<span class="star">*</span></label>
                                        <input id="shipping_state" type="text" name="State" ng-model="CustomerDetails.State" placeholder="Your state" class="form-control  col-md-12" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="shipping_firstname" class="form-label">First Name<span class="star">*</span></label>
                                        <input id="shipping_firstname" ng-model="CustomerDetails.FirstName" type="text" name="FirstName" placeholder="Enter you first name" class="form-control col-md-6" required>

                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="shipping_lastname" class="form-label">Last Name<span class="star">*</span></label>
                                        <input id="shipping_lastname" type="text" name="LastName" ng-model="CustomerDetails.LastName" placeholder="Enter your last name" class="form-control col-md-6" required>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="shipping_email" class="form-label">Email Address<span class="star">*</span></label>
                                        <input id="shipping_email" type="text" name="Email" ng-pattern="emailvalidation" ng-model="CustomerDetails.Email" placeholder="enter your email address" class="form-control col-md-6" required>
                                        <span class="errormessage" ng-show="form1.Email.$error.pattern">Email is not valid!</span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="shipping_phone-number" class="form-label">Phone Number<span class="star">*</span></label>
                                        <input id="shipping_phone-number" type="tel" name="Phone" ng-model="CustomerDetails.Phone" placeholder="Your phone number" class="form-control col-md-3" data-ng-pattern="/^[0-9]+$/"
                                               data-ng-minlength="8"
                                               maxlength="12" required>
                                        <span class="errormessage" ng-show="form1.Phone.$error.minlength">Phone Number is not valid!</span>
                                        <span class="errormessage" ng-show="form1.Phone.$error.maxlength">Phone Number is not valid!</span>

                                    </div>

                                </div>
                                <hr />
                                <div class="CTAs d-flex justify-content-between flex-column flex-lg-row"><a href="#/ShoppingCart" class="btn  btn-secondary wide prev"> <i class="fa fa-angle-left"></i> Back to Cart</a><button type="submit" ng-click="ChangeTab(2)" ng-disabled=!form1.$valid class="btn btn-secondary wide next">Continue <i class="fa fa-angle-right"></i></button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-content" ng-if="CurrentTab==2">
                    <div class="card">
                        <div id="order-review" class="tab-block card-body">
                            <div class="cart">
                                <div class="cart-holder">
                                    <div class="basket-header">
                                        <div class="row">
                                            <div class="col-6">Product</div>
                                            <div class="col-2">Price</div>
                                            <div class="col-2">Quantity</div>
                                            <div class="col-2">Unit Price </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="basket-body">
                                        <!-- Product-->
                                        <div class="item row d-flex align-items-center" ng-repeat="item in shoppingCartNew track by $index">
                                            <div class="col-1">
                                                <div class="d-flex align-items-center">
                                                    <img src="{{GetProductImageGlobal(item.Image)}}" alt="..." style=" max-width: 142%; margin-top: -18px; margin-left: 10px;">
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="title">
                                                    <h6 style="font-size: 12px; font-weight: bold;">{{item.ProductName}}</h6>
                                                    <p style="font-size:60%" ng-bind-html="item.ProductcartDescription|limitTo:300"></p>
                                                </div>
                                            </div>

                                            <div class="col-2"><span>{{item.Cost|currency:"₹ "}}</span></div>
                                            <div class="col-2"><span>{{item.Quantity}}</span></div>
                                            <div class="col-2"><span>{{item.Cost*item.Quantity|currency:"₹ "}}</span></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row"><a ng-click="ChangeTab(1)" class="btn btn-secondary wide prev" style="color:white"><i class="fa fa-angle-left"></i> Back to Address</a><a ng-click="ChangeTab(3)" class="btn btn-secondary wide next" style="color:white">Continue <i class="fa fa-angle-right"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" ng-if="CurrentTab==3">
                    <div class="card">
                        <div id="payment-method" class="tab-block card-body">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div id="headingOne" role="tab" class="card-header">
                                        <h6><a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">Credit Card</a></h6>
                                    </div>
                                    <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="collapse show">
                                        <div class="card-body">
                                            <input type="radio" value="0" ng-model="PaymentInformation.cardType" name="shippping" id="payment-method-0" ng-click="PaymentInformation.cardType" class="radio-template">
                                            <label for="payment-method-0"><strong>Credit Card on Delivery</strong><br><span class="label-description">Select Credit Card Payment Mode <i style="font-size:25px;color:green;" class="{{ccinfo.type}}"></i></span></label>
                                            <article class="card" ng-show="PaymentInformation.cardType==0">
                                                <div class="card-body p-5">
                                                    <p>
                                                        <img src="../../img/pay-visa.png">
                                                        <img src="../../img/pay-visa-el.png">
                                                        <img src="../../img/pay-mastercard.png">
                                                        <img src="../../img/pay-american-ex.png">
                                                    </p>

                                                    <form name="form2" ng-submit="Continue()">
                                                        <div class="form-group">
                                                            <label for="username">Full name (on the card)</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                                </div>
                                                                <input type="text" name="card-name" placeholder="Name on card" ng-model="PaymentInformation.Nameoncard" id="card-name" class="form-control">
                                                            </div> <!-- input-group.// -->
                                                        </div> <!-- form-group.// -->

                                                        <div class="form-group">
                                                            <label for="cardNumber">Card number</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="{{ccinfo.type}}"></i><i ng-show="ccinfo.type==null||ccinfo.type==''" class="fa fa-credit-card"></i></span>
                                                                </div>
                                                                <input type="text" name="cardnumber" placeholder="Card number" ng-model="PaymentInformation.CardNumber" id="cardnumber" class="form-control" data-credit-card-type data-ng-pattern="/^[0-9]+$/"
                                                                       data-ng-minlength="15"
                                                                       maxlength="19" required>

                                                            </div> <!-- input-group.// -->
                                                        </div> <!-- form-group.// -->

                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <div class="form-group">
                                                                    <label><span class="hidden-xs">Expire Date</span> </label>
                                                                    <div class="form-inline">
                                                                        <select class="form-control" ng-model="PaymentInformation.ExpMonth" style="width:45%">
                                                                            <option selected="selected">Jan</option>
                                                                            <option>Feb</option>
                                                                            <option>Mar</option>
                                                                            <option>Apr</option>
                                                                            <option>May</option>
                                                                            <option>Jun</option>
                                                                            <option>Jul</option>
                                                                            <option>Aug</option>
                                                                            <option>Sep</option>
                                                                            <option>Oct</option>
                                                                            <option>Nov</option>
                                                                            <option>Dec</option>
                                                                        </select>
                                                                        <span style="width:10%; text-align: center"> / </span>
                                                                        <select class="form-control" ng-model="PaymentInformation.ExpYear" style="width:45%">
                                                                            <option selected="selected">2018</option>
                                                                            <option>2019</option>
                                                                            <option>2020</option>
                                                                            <option>2021</option>
                                                                            <option>2022</option>
                                                                            <option>2023</option>
                                                                            <option>2024</option>
                                                                            <option>2025</option>
                                                                            <option>2026</option>
                                                                            <option>2027</option>
                                                                            <option>2028</option>
                                                                            <option>2029</option>
                                                                            <option>2030</option>
                                                                            <option>2031</option>
                                                                            <option>2032</option>
                                                                            <option>2033</option>
                                                                            <option>2034</option>
                                                                            <option>2035</option>
                                                                            <option>2036</option>
                                                                            <option>2037</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                                                                    <input type="text" name="cvv" placeholder="123" id="cvv" ng-model="PaymentInformation.CVV" class="form-control" data-ng-pattern="/^[0-9]+$/" data-ng-minlength="3"
                                                                           maxlength="4" required>
                                                                </div> <!-- form-group.// -->
                                                            </div>
                                                        </div> <!-- row.// -->

                                                    </form>
                                                </div> <!-- card-body.// -->
                                            </article>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="headingTwo" role="tab" class="card-header">
                                        <h6><a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">Paypal</a></h6>
                                    </div>
                                    <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="collapse show">
                                        <div class="card-body">
                                            <input type="radio" value="1" ng-model="PaymentInformation.cardType" name="shippping" id="payment-method-1" ng-click="PaymentInformation.cardType" class="radio-template">
                                            <label for="payment-method-1"><strong>Continue with Paypal</strong><br><span class="label-description">Select Paypal Payment Mode.</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="headingThree" role="tab" class="card-header">
                                        <h6><a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">Cash on delivery</a></h6>
                                    </div>
                                    <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="collapse show">
                                        <div class="card-body">
                                            <input type="radio" value="2" ng-model="PaymentInformation.cardType" name="shippping" id="payment-method-2" ng-click="PaymentInformation.cardType" class="radio-template">
                                            <label for="payment-method-2"><strong>Cash on Delivery</strong><br><span class="label-description">Select Cash on Delivery Payment Mode.</span></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <hr />
                            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
                                <a ng-click="ChangeTab(2)" class="btn btn-secondary wide prev" style="color:white"><i class="fa fa-angle-left"></i> Back to Review </a>
                                <button type="submit" ng-click="PlaceOrder()" ng-if="PaymentInformation.cardType!='0'" ng-disabled="PaymentInformation.cardType==null" class="btn btn-secondary wide next">PLACE ORDER <i class="fa fa-angle-right"></i></button>
                                <button type="submit" ng-click="PlaceOrder()" ng-if="PaymentInformation.cardType=='0'" ng-disabled="!form2.$valid" class="btn btn-secondary wide next">PLACE ORDER <i class="fa fa-angle-right"></i></button>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">

                        <div class="card-header">
                            Standard delivery
                            Get by | Free delivery
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item"><span>Shipping and handling</span><strong class="pull-right">{{shipping |currency:"₹ "}}</strong></li>
                            <li class="list-group-item"><span>Tax</span><strong class="pull-right">0.00</strong></li>
                            <li class="list-group-item"><span>Total</span><strong class="text-primary price-total pull-right">{{CartTotal|currency:"₹ "}}</strong></li>
                            <li class="list-group-item btn-success"><span>Total</span><strong class="text-primary price-total pull-right">{{TotalCartItems |currency:"₹ "}}</strong></li>
                        </ul>

                    </div>
                </div> <!-- card.// -->
            </div>

        </div>
    </div>
</body>
</html>
